APP_PORT=8080
DATABASE_DRIVER=postgres
DATABASE_URL=postgres://postgres:postgres@db:5432/go_tasks?sslmode=disable
JWT_SECRET=please_set_strong_secret
JWT_HOUR_EXPIRATION=1
LOG_LEVEL=info
HTTP_LOG=true
TRUSTED_PROXIES=127.0.0.1,172.16.0.0/12,10.0.0.0/8
